<li id="comment-<%= comment.id %>">
  <div class="row">
    <span class="col-xs-6 col-sm-4 comment-avatar">
      <% if comment.user.avatar.attached? %>
        <%= image_tag comment.user.avatar , class: "img-rounded comment-avatar" %>
      <% else %>
        <%= image_tag("pixel_star_purple.png", alt: "Default Avatar", class: "img-rounded comment-avatar") %>
      <% end %>
    </span>

    <span class="comment-user">
      <%= link_to comment.user.name , moony_path(comment.user) %>
    </span><br>
    
    <div class="row">
      <span class="comment-content">
        <%= comment.body %>
      </span><br>

      <span class="comment-timestamp">
        Commented <%= time_ago_in_words(comment.created_at) %> ago.
      </span>

      <span class="comment-links"> 
        <% if comment.user == current_user %>
          <%= link_to "Delete comment", comment, method: :delete, data: {confirm: "You sure you want to delete this comment?"} %>
        <% end %>
      </span>
    </div>
  </div>
</li>