<div class="">
  <% if !!flash[:article_errors] %>
    <% flash.each do |type, messages| %>
      <div class="alert alert-info">
        <% messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= form_with(model: @article , local: true, html: { class: "center form-horizontal" } ) do |f| %>
    <div class="form-group" >
      <%= f.text_field :title, placeholder: " Title...", size: "35", class: "title-field" %>
    </div>

    <div class="form-group">
      <%= f.text_area :body, placeholder: " Compose new article...", size: "40x10", class: "body-field" %>
    </div>

    <%= f.submit "Post Moony Article", class: "btn btn-primary post-btn" %>
  <% end %>
</div>