<div class="container">
  <% if !!flash[:article_errors] %>
    <% flash.each do |type, messages| %>
      <div class="alert alert-info">
        <% messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= form_with(model: @article , local: true, html: { class: "form-horizontal" }) do |f| %>
    <div class="form-group" >
      <%= f.text_field :title, placeholder: "Title for new article...", class: "col-sm-2" %>
    </div>

    <div class="form-group">
      <%= f.text_area :body, placeholder: "Compose new article...", class: "col-sm-2" %>
    </div>

    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>