<div class= "center container jumbotron">
  <h1>The Moon Blog</h1>
  <h2>A blog by the moonies for all the world's other moonies</h2>
  <%= button_to "Become a Moonie", new_user_reg_path , class: "btn btn-primary", id: "sign_up_btn" %>
</div>

<h3>Articles</h3> 
<h4><%= link_to "Create New Article", '#'	 %><h4>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, '#' %>
      <%= link_to "Edit", '#' %>
      <%= link_to "Delete", '#', method: :delete, 
          data: {confirm: "Are you sure you want to delete this article?"} %>
    </li>
  <% end %>
</ul>


